body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  margin-top: 100px;
  width: 100%;
  min-height: 100%;
  font-family: "Tangerine", serif;
}

.mainnav {
  width: 100%; /* Largura total */
  position: fixed; /* Opcional: fixa no topo */
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  height: 70px;
  font-family: "Tangerine", serif;
}

.navbar {
  justify-content: center;
  height: 70px;
  padding: 10px;
}

.navbar-title {
  text-align: center;
  color: #e04078;
  font-size: 20px;
  font-weight: bolder;
}

.style_corporate::first-letter {
  color: #e04078;
  font-family: "Tangerine", serif;
  font-size: 25px;
}

.navbar {
  justify-content: center;
  height: 70px;
  width: 100%;
  font-family: "Tangerine", serif;
}

.mainnav {
  width: 100%; /* Largura total */
  position: fixed; /* Opcional: fixa no topo */
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  height: 70px;
  font-family: "Tangerine", serif;
}
.navbar-title {
  text-align: center;
  font-size: 25px;
  color: #e04078;
}

.corporate {
  font-size: 20px;
  font-weight: bold;
  color: #e1e8ed;
  border-radius: 30px;
  margin-right: auto;
  padding: 10px;
}

.navbarindex {
  text-align: center;
  position: absolute;
}

.navbar-nav {
  margin: auto;
  justify-content: center;
}
.nav-link {
  font-size: 16px;
}

.nav-link:hover {
  color: white;
}

.links_navdown {
  font-size: 25px;
}
.colum {
  text-align: center;
  margin-top: -2px;
}
.navbar-final {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: white;
  font-size: 20px;
  background-color: #212529;
  /* border: 1px solid #000; Espessura, estilo (solid) e cor  */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tangerine", serif;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icone_navbar-final {
  color: white;
  font-size: 25px;
}
.link_navbar-final {
  text-align: center;
}
.navbar-final a {
  color: black;
  padding: 0 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

#about {
  color: white;
  background-color: #1b3c53;
}

#mission {
  color: black;
  background-color: #82b8e7;
  
}

.card-body {
  text-align: justify;
  font-size: 12px;
}

#vision {
  color: black;
  background-color: #c0def3;
}
.card-image-about {
  max-width: 100%;
  height: 300px;
  background-image: url("../img/backgroud/bkg\ kitchen\ .jpeg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
}
.card-image-mission {
  max-width: 100%;
  height: 300px;
  background-image: url("../img/backgroud/bkg\ room.jpeg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
}
.card-image-vision {
  max-width: 100%;
  height: 300px;
  background-image: url("../img/backgroud/bkg\ bathroom.jpeg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
}

.card-image-modal-deep {
  width: 90%;
  height: 300px;
  border-radius: 30px;
  background-image: url("../img/backgroudmodal/img\ bakg\ deep.jpg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
  border-radius: 20px;
  margin-top: 10px;
  margin: auto;
}
.card-image-modal-regular {
  width: 90%;
  height: 300px;
  border-radius: 30px;
  background-image: url("../img/backgroudmodal/img\ bakg\ vacun.jpeg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
  margin: auto;
}

.card-image-modal-construction {
  width: 90%;
  height: 300px;
  border-radius: 30px;
  background-image: url("../img/backgroudmodal/img\ bakg\ posconstruction.jpg");
  background-size: cover; /* Faz a imagem cobrir o card */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat; /* Evita repetição */
  margin: auto;
}

.modal-body {
  font-size: 13px;
  text-align: justify;
}

.modal-title {
  font-family: "Tangerine", serif;
}

.dropdown-item:hover {
  background-color: white;
  color: black;
}

.card {
  width: 400px;
  height: 550px;
  font-size: 13px;
  margin: auto;
}

.cards-info {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 50px) and (max-width: 576px) {
  .mainnav {
    display: none;
  }
  .fa {
    font-size: 23px;
  }

  .card-image-about {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  /* start slides */

  .slider {
    margin: 0 auto;
    width: 100%; /* Largura fixa */
    height: 300px;
    overflow: hidden;
    margin-bottom: -70px;
  }
  .slides {
    width: 400%; /* Largura fixa */
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .slide input {
    display: none;
  }

  .slide {
    width: 25%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    transition: 5s;
  }
  .slide .slidesimg {
    width: 550px;
    height: 260px;
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }

  #rd1:checked ~ .slideone {
    margin-left: 0;
  }
  #rd2:checked ~ .slideone {
    margin-left: -50%;
  }
  #rd3:checked ~ .slideone {
    margin-left: -100%;
  }
  #rd4:checked ~ .slideone {
    margin-left: -150%;
  }
  /* end slides */

  .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    text-align: right;
  }

  .corporate {
    font-size: 15px;
    font-weight: bold;
    color: #e1e8ed;
    border-radius: 30px;
    margin-right: auto;
    padding: 0px;
    font-family: "Tangerine", serif;
  }

  .corporate {
    font-family: "Tangerine", serif;
    color: #e1e8ed;
    border-radius: 30px;
    font-size: 18px;
  }
  .card {
    width: 100%;
    height: 620px;
  }

  #about {
    color: black;
    margin-top: 0px;
    background-color: #e6ebed;
    border-radius: 0;
    height: 330px;
  }

  #mission {
    color: black;
    background-color: #f5f6f8;
    margin-top: 0px;
    border-radius: 0;
  }

  #vision {
    color: black;
    background-color: #e1e8ed;
    margin-top: 0px;
    border-radius: 0;
  }

  .card-title {
    font-family: "Tangerine", serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
  }

  .card-image-about {
    width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/bkg\ room.jpeg");
    background-size: cover; /* Faz a imagem cobrir a área [1] */
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    margin: auto;
  }
  .card-image-mission {
    max-width: 200%;
    height: 370px;
    margin: -13px;
    background-image: url("../img/backgroud/bkg\ room.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-vision {
    max-width: 200%;
    height: 370px;
    margin: -13px;
    background-image: url("../img/backgroud/bkg\ bathroom.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }

  .card-image-modal-deep {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ deep.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    border-radius: 20px;
    margin-top: 10px;
    margin: auto;
  }
  .card-image-modal-regular {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ vacun.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    margin: auto;
  }

  .card-image-modal-construction {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ posconstruction.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    margin: auto;
  }

  .modal-body {
    font-size: 13px;
    text-align: justify;
  }
  .row {
    max-height: 1200px;
    max-width: 1200px; /* Largura máxima do conteúdo do body */
    margin-top: 70px;
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 500px;
    right: 0;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .mainnav {
    display: none;
  }

  .slider {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .fa {
    font-size: 23px;
  }
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
  }

  .card {
    width: 100%;
    height: 700px;
  }

  #about {
    color: black;
    margin-top: 0px;
    background-color: #e6ebed;
    border-radius: 0;
    height: 600px;
  }

  #mission {
    color: black;
    background-color: #f5f6f8;
    margin-top: 0px;
    border-radius: 0;
    height: 500px;
  }

  #vision {
    color: black;
    background-color: #e1e8ed;
    margin-top: 0px;
    border-radius: 0;
  }

  .card-image-about {
    max-width: 100%;
    height: 400px;
    background-image: url("../img/backgroud/bkg\ kitchen\ .jpeg");
    background-size: cover; /* Faz a imagem cobrir a área [1] */
  }
  .card-image-mission {
    max-width: 120%;
    height: 400px;
    background-image: url("../img/backgroud/bkg\ room.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-vision {
    max-width: 100%;
    height: 450px;
    background-image: url("../img/backgroud/bkg\ bathroom.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .row {
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }
  .navbar-title {
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-weight: bolder;
  }

  .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    margin-bottom: 20px;
    text-align: right;
    border-radius: 0px;
    font-family: "Tangerine", serif;
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 400px;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1925px) {
  @media (min-width: 991px) {
    .hamburger {
      display: none;
    }
  }
  .slider {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 100%;
  }

  .navbar-title {
    text-align: center;
    color: white;
    font-size: 20px;
     font-family: "Tangerine", serif;
    font-weight: bolder;
  }

.navbar-title::first-letter {
  color: #e04078;
  font-family: "Tangerine", serif;
  font-size: 25px;
}

  .corporate {
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    color: #e1e8ed;
    margin-right: auto;
    padding: 10px;
  }

  .navbarindex {
    text-align: center;
    position: absolute;
  }

  .row {
    max-width: 100%;
    margin: auto;
  }
  .nav-link {
    font-size: 16px;
  }

  .nav-link:hover {
    color: white;
  }

  .dropdown-item:hover {
    background-color: white;
    color: black;
  }
 .card {
    width: 33%;
    height: 550px;
  }

  .card-image-about {
    width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/bkg\ kitchen\ .jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-mission {
    width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/bkg\ room.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-vision {
    width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/bkg\ bathroom.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }

  .card-image-modal-deep {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ deep.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    border-radius: 20px;
    margin-top: 10px;
    margin: auto;
  }
  .card-image-modal-regular {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ vacun.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    margin: auto;
  }

  .card-image-modal-construction {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-image: url("../img/backgroudmodal/img\ bakg\ posconstruction.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    margin: auto;
  }
}
